In [52]:
import pandas as pd 
data = pd.read_csv('../data/depression_data.csv')
print(data.head())

               Name  Age Marital Status    Education Level  \
0  Christine Barker   31        Married  Bachelor's Degree
1  Jacqueline Lewis   55        Married        High School
2    Shannon Church   78        Widowed    Master's Degree
3    Charles Jordan   58       Divorced    Master's Degree
4      Michael Rich   18         Single        High School

   Number of Children Smoking Status Physical Activity Level  \
0                   2     Non-smoker                  Active
1                   1     Non-smoker               Sedentary
2                   1     Non-smoker               Sedentary
3                   3     Non-smoker                Moderate
4                   0     Non-smoker               Sedentary

  Employment Status     Income Alcohol Consumption Dietary Habits  \
0        Unemployed   26265.67            Moderate       Moderate
1          Employed   42710.36                High      Unhealthy
2          Employed  125332.79                 Low      Unhealthy
3        Unemployed    9992.78            Moderate       Moderate
4        Unemployed    8595.08                 Low       Moderate

  Sleep Patterns History of Mental Illness History of Substance Abuse  \
0           Fair                       Yes                         No
1           Fair                       Yes                         No
2           Good                        No                         No
3           Poor                        No                         No
4           Fair                       Yes                         No

  Family History of Depression Chronic Medical Conditions
0                          Yes                        Yes
1                           No                        Yes
2                          Yes                         No
3                           No                         No
4                          Yes                        Yes

Explore the data set. check the missing values, data types

In [53]:
print(data.isnull().sum())
print(data.dtypes)

Name                            0
Age                             0
Marital Status                  0
Education Level                 0
Number of Children              0
Smoking Status                  0
Physical Activity Level         0
Employment Status               0
Income                          0
Alcohol Consumption             0
Dietary Habits                  0
Sleep Patterns                  0
History of Mental Illness       0
History of Substance Abuse      0
Family History of Depression    0
Chronic Medical Conditions      0
dtype: int64
Name                             object
Age                               int64
Marital Status                   object
Education Level                  object
Number of Children                int64
Smoking Status                   object
Physical Activity Level          object
Employment Status                object
Income                          float64
Alcohol Consumption              object
Dietary Habits                   object
Sleep Patterns                   object
History of Mental Illness        object
History of Substance Abuse       object
Family History of Depression     object
Chronic Medical Conditions       object
dtype: object

identify the categorical columns

In [54]:
categorical_columns = data.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['Name', 'Marital Status', 'Education Level', 'Smoking Status',
       'Physical Activity Level', 'Employment Status', 'Alcohol Consumption',
       'Dietary Habits', 'Sleep Patterns', 'History of Mental Illness',
       'History of Substance Abuse', 'Family History of Depression',
       'Chronic Medical Conditions'],
      dtype='object')

In [44]:
import pandas as pd

# Define column names
column_names = [
    'History of Mental Illness', 'History of Substance Abuse', 
    'Family History of Depression', 'Chronic Medical Conditions', 
    # Add other column names here
]

# Load the dataset with explicit column names
data = pd.read_csv('../data/depression_data.csv', names=column_names, header=0)

In [55]:
print(data.isnull().sum())
print(data.dtypes)

Name                            0
Age                             0
Marital Status                  0
Education Level                 0
Number of Children              0
Smoking Status                  0
Physical Activity Level         0
Employment Status               0
Income                          0
Alcohol Consumption             0
Dietary Habits                  0
Sleep Patterns                  0
History of Mental Illness       0
History of Substance Abuse      0
Family History of Depression    0
Chronic Medical Conditions      0
dtype: int64
Name                             object
Age                               int64
Marital Status                   object
Education Level                  object
Number of Children                int64
Smoking Status                   object
Physical Activity Level          object
Employment Status                object
Income                          float64
Alcohol Consumption              object
Dietary Habits                   object
Sleep Patterns                   object
History of Mental Illness        object
History of Substance Abuse       object
Family History of Depression     object
Chronic Medical Conditions       object
dtype: object

In [56]:
binary_columns = ['History of Mental Illness', 'History of Substance Abuse', 
                  'Family History of Depression', 'Chronic Medical Conditions']
for col in binary_columns:
    data[col] = data[col].map({'Yes': 1, 'No': 0})

In [57]:
for col in binary_columns:
    print(f"Unique values in {col}: {data[col].unique()}")

Unique values in History of Mental Illness: [1 0]
Unique values in History of Substance Abuse: [0 1]
Unique values in Family History of Depression: [1 0]
Unique values in Chronic Medical Conditions: [1 0]

In [58]:
print(data.dtypes)

Name                             object
Age                               int64
Marital Status                   object
Education Level                  object
Number of Children                int64
Smoking Status                   object
Physical Activity Level          object
Employment Status                object
Income                          float64
Alcohol Consumption              object
Dietary Habits                   object
Sleep Patterns                   object
History of Mental Illness         int64
History of Substance Abuse        int64
Family History of Depression      int64
Chronic Medical Conditions        int64
dtype: object

Handel Ordinary variables

In [59]:
activity_mapping = {'Sedentary' : 0 , 'Moderate' : 1 , 'Active' :2}
data['Physical Activity Level'] = data['Physical Activity Level'].map(activity_mapping)

In [60]:
data['Physical Activity Level'].value_counts()

Physical Activity Level
0    176850
1    158013
2     78905
Name: count, dtype: int64

In [61]:
employment_mapping = {'Unemployed' :0 , 'Employed':1}
data['Employment Status'] = data['Employment Status'].map(employment_mapping)

In [62]:
sleep_mapping = {'Poor' :0 , 'Fair':1 , 'Good':2}
data['Sleep Patterns'] = data['Sleep Patterns'].map(sleep_mapping)

In [63]:
dietry_mapping = {'Unhealthy':0 , 'Moderate':1 , 'Healthy':2}
data['Dietary Habits'] = data['Dietary Habits'].map(dietry_mapping)

In [64]:
alcohol_mapping = {'Low':0 , 'Moderate':1, 'High':2}
data['Alcohol Consumption'] = data['Alcohol Consumption'].map(alcohol_mapping)

one-hot encoding

In [65]:
data = pd.get_dummies(data,columns=['Marital Status', 'Education Level', 'Smoking Status'], prefix=['Marital', 'Education', 'Smoking'],drop_first=True)

drop the irrelevant column

In [66]:
print(data.head)
print(data.columns)

<bound method NDFrame.head of                     Name  Age  Number of Children  Physical Activity Level  \
0       Christine Barker   31                   2                        2
1       Jacqueline Lewis   55                   1                        0
2         Shannon Church   78                   1                        0
3         Charles Jordan   58                   3                        1
4           Michael Rich   18                   0                        0
...                  ...  ...                 ...                      ...
413763       Sean Miller   68                   0                        1
413764   Christina Brown   26                   0                        2
413765   Matthew Jenkins   57                   0                        0
413766     Gary Faulkner   71                   2                        0
413767    Joseph Johnson   62                   0                        1

        Employment Status     Income  Alcohol Consumption  Dietary Habits  \
0                       0   26265.67                    1               1
1                       1   42710.36                    2               0
2                       1  125332.79                    0               0
3                       0    9992.78                    1               1
4                       0    8595.08                    0               1
...                   ...        ...                  ...             ...
413763                  1  109233.43                    0               2
413764                  1   96760.97                    0               2
413765                  1   77353.26                    1               1
413766                  0   24557.08                    1               1
413767                  1  107125.74                    1               2

        Sleep Patterns  History of Mental Illness  ...  \
0                    1                          1  ...
1                    1                          1  ...
2                    2                          0  ...
3                    0                          0  ...
4                    1                          1  ...
...                ...                        ...  ...
413763               2                          0  ...
413764               0                          1  ...
413765               1                          0  ...
413766               0                          0  ...
413767               2                          0  ...

        Chronic Medical Conditions  Marital_Married  Marital_Single  \
0                                1             True           False
1                                1             True           False
2                                0            False           False
3                                0            False           False
4                                1            False            True
...                            ...              ...             ...
413763                           0             True           False
413764                           1            False            True
413765                           1             True           False
413766                           0             True           False
413767                           0            False           False

        Marital_Widowed  Education_Bachelor's Degree  Education_High School  \
0                 False                         True                  False
1                 False                        False                   True
2                  True                        False                  False
3                 False                        False                  False
4                 False                        False                   True
...                 ...                          ...                    ...
413763            False                        False                  False
413764            False                         True                  False
413765            False                         True                  False
413766            False                        False                  False
413767             True                        False                  False

        Education_Master's Degree  Education_PhD  Smoking_Former  \
0                           False          False           False
1                           False          False           False
2                            True          False           False
3                            True          False           False
4                           False          False           False
...                           ...            ...             ...
413763                       True          False            True
413764                      False          False           False
413765                      False          False           False
413766                      False          False           False
413767                       True          False            True

        Smoking_Non-smoker
0                     True
1                     True
2                     True
3                     True
4                     True
...                    ...
413763               False
413764               False
413765                True
413766                True
413767               False

[413768 rows x 22 columns]>
Index(['Name', 'Age', 'Number of Children', 'Physical Activity Level',
       'Employment Status', 'Income', 'Alcohol Consumption', 'Dietary Habits',
       'Sleep Patterns', 'History of Mental Illness',
       'History of Substance Abuse', 'Family History of Depression',
       'Chronic Medical Conditions', 'Marital_Married', 'Marital_Single',
       'Marital_Widowed', 'Education_Bachelor's Degree',
       'Education_High School', 'Education_Master's Degree', 'Education_PhD',
       'Smoking_Former', 'Smoking_Non-smoker'],
      dtype='object')

In [67]:
print(data.isnull().sum())

Name                            0
Age                             0
Number of Children              0
Physical Activity Level         0
Employment Status               0
Income                          0
Alcohol Consumption             0
Dietary Habits                  0
Sleep Patterns                  0
History of Mental Illness       0
History of Substance Abuse      0
Family History of Depression    0
Chronic Medical Conditions      0
Marital_Married                 0
Marital_Single                  0
Marital_Widowed                 0
Education_Bachelor's Degree     0
Education_High School           0
Education_Master's Degree       0
Education_PhD                   0
Smoking_Former                  0
Smoking_Non-smoker              0
dtype: int64

In [68]:
print(data.columns)

Index(['Name', 'Age', 'Number of Children', 'Physical Activity Level',
       'Employment Status', 'Income', 'Alcohol Consumption', 'Dietary Habits',
       'Sleep Patterns', 'History of Mental Illness',
       'History of Substance Abuse', 'Family History of Depression',
       'Chronic Medical Conditions', 'Marital_Married', 'Marital_Single',
       'Marital_Widowed', 'Education_Bachelor's Degree',
       'Education_High School', 'Education_Master's Degree', 'Education_PhD',
       'Smoking_Former', 'Smoking_Non-smoker'],
      dtype='object')

In [70]:
data = data.drop(columns=['Name'])

In [71]:
print(data.columns)

Index(['Age', 'Number of Children', 'Physical Activity Level',
       'Employment Status', 'Income', 'Alcohol Consumption', 'Dietary Habits',
       'Sleep Patterns', 'History of Mental Illness',
       'History of Substance Abuse', 'Family History of Depression',
       'Chronic Medical Conditions', 'Marital_Married', 'Marital_Single',
       'Marital_Widowed', 'Education_Bachelor's Degree',
       'Education_High School', 'Education_Master's Degree', 'Education_PhD',
       'Smoking_Former', 'Smoking_Non-smoker'],
      dtype='object')

save the preprocessed data

In [72]:
data.to_csv('../data/preprocessed_data.csv', index=False)